node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
# Node.js dependencies
node_modules

# Environment variables
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# System files and folders
.bash_history
.cache/
.gitconfig
.node_repl_history
.vscode/
AppData/
Documents/
Downloads/
OneDrive/
Pictures/
Saved Games/
Videos/